* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand {
    color: white;
}

.nav-link {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-right: 15px;
}

.nav-link:hover {
    background-color: white;
    border-radius: 20px;
    color: #000;
}